body {
    margin:0;
    padding:0;
    background-color: black;
}

.section1 {
     background-image: url('assets/img/banner.jpg');
     margin-top:40px;
     height:400px;
}

.header {
    height: 60px;
    display:flex;
    justify-content: space-between;
}

.profile-logo {
    margin-top:5px;
}

.movie {
    color: white;
    margin: 80px 10px;
}

.h1 {
    font-size: 40px;
    font-weight: 700;
}

.section1-btn {
    margin-left: 15px;
    width:80px;
    color: white;
    padding: 10px;
    background-color: black;
    border:none;
    cursor: pointer;
}

.p {
    padding-bottom:100px;
}

.netflix-originals {
    color:white;
    font-size: 24px;
    font-weight:700;
    margin-top:15px;
}

.series {
    display: flex;
    flex-direction: row;
    gap: 30px;
    overflow: visible;
}

.series img {
    width:160px;
    height:240px;
}

.series img:hover {
    transform: scale(1.2);
}
